/* Freedom */
.mat-form-field-infix input[readonly="true"] {
    background-color: #f1eded !important;
}

.crt-autocomplete-input-control:has(input[readonly]) {
  background-color: #f1eded !important;
}

.phone-wrapper:has(input[readonly]) {
  background-color: #f1eded !important;
}

.crt-input-control:has(input[readonly]):has(.readonly-icon) {
  background-color: #f1eded !important;
}

.rich-editor-wrapper.readonly,
.rich-editor-wrapper:has(.readonly-icon),
.rich-editor-wrapper:has([contenteditable="false"]) {
  background-color: #f1eded !important;
}

/* Clasic */
.base-edit-disabled, input[readonly="readonly"] {
      background-color: #f1eded !important;
}
